[diff]
    command = "code"
    args = ["--wait", "--diff", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]

[merge]
    command = "code"
    args = ["--wait", "--merge", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Target }}` }}"]
