{
{{- if eq .profile "guest" }}
  "permissions": {
    "defaultMode": "bypassPermissions"
  },
  "skipDangerousModePermissionPrompt": true,
{{- end }}
  "model": "opus[1m]",
  "enabledPlugins": {
    "rust-analyzer-lsp@claude-plugins-official": true,
    "clangd-lsp@claude-plugins-official": true
  },
  "agentPushNotifEnabled": true,
  "theme": "dark",
  "effortLevel": "xhigh"{{ if eq .profile "guest" }},
  "agentPushNotifEnabled": true{{ end }}
}
