{
{{- if eq .chezmoi.hostname "nordic-standardpc" }}
  "permissions": {
    "defaultMode": "bypassPermissions"
  },
  "skipDangerousModePermissionPrompt": true,
{{- end }}
  "theme": "dark",
  "effortLevel": "xhigh"
}
